<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<form action="#" th:action="@{/registration}" method="post" th:object="${registree}">
    <div>
        <label> User Name : <input type="text" th:field="*{username}"/> </label>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</p>
    </div>
    <div>
        <label> Password: <input type="password" th:field="*{password}" /> </label>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</p>
    </div>
    <div>
        <label> Repeat password: <input type="password" th:field="*{password2}"/> </label>
        <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}">password2 Error</p>
    </div>
    <div>
        <input type="submit" value="Register"/></div>
</form>
</body>
</html>